.terminal {
    display: inline-block;
    font-family: "Consolas", monospace;
    font-size: 15px;
    line-height: 15px;
    padding: 4px;
    margin: 0;
}
.terminal-cursor {
    position: relative;
}
.terminal-cursor::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(128, 255, 128, 0.5);
}
